<!-- header tag: define elements go on top of the page -->
<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
   <%= link_to t(".title"), root_path, id: "logo" %>
   <nav>
    <ul class = "nav navbar-nav navbar-right">
      <li> <%= link_to t(".link_home"), root_path %> </li>
      <li> <%= link_to t(".link_help"), help_path %> </li>
      <li> <%= link_to t(".link_login"), "#" %> </li>
    </ul>
   </nav>
  </div>
</header>
